# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# --- Virtual environment ---
venv/
.env/

# --- Environment files ---
*.env

# --- VSCode / IDE ---
.vscode/
.idea/

# --- OS Files ---
.DS_Store
Thumbs.db

# --- Other ---
*.log
